{%  extends "base1.html" %}

{% block content %}
	<div class="form-row">
<form method="post">
 <div class="form-group">
 	<img src="static/download.jfif" style="border-radius: 50px;margin-left: 50%;">
   <h3 style="margin-left: 40%;">Post</h3>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" cols="80" style="margin-left: 40%;" name="textarea"></textarea>
  </div>
  <button class="btn btn-outline-primary" style="margin-left: 40%;">Save</button>
 </form>
</div>
{%  endblock %}