{% extends "base.html" %}
{% block content %}
<h1 style="margin-left: 45%;">Register</h1>
<div class="form-row">
	<form method="post" style="margin-left: 45%;">
		
		{{ form.hidden_tag()}}
		<div class="form-group">
			{{form.username.label}}
			{{form.username(class="form-control")}}
		</div>
		<div class="form-group">
			{{form.email.label}}
			{{form.email(class="form-control")}}	
		</div>
		<div class="form-group">
			{{form.password.label}}
			{{form.password(class="form-control")}}	
		</div>	
			<div class="form-group">
			{{form.confirmpass.label}}
			{{form.confirmpass(class="form-control")}}	
		</div>
		{{form.recaptcha}}
		<div class="form-group">
			{{form.submit(class="btn btn-outline-info")}}	
		</div>
		</div>
	</form>

{% endblock %}
